<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yyn.store.mapper.ShopPageMapper">
    
    <resultMap type="ShopPage" id="ShopPageResult">
        <result property="pageId"    column="page_id"    />
        <result property="pageType"    column="page_type"    />
        <result property="pageName"    column="page_name"    />
        <result property="pageData"    column="page_data"    />
        <result property="storeId"    column="store_id"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectShopPageVo">
        select page_id, page_type, page_name, page_data, store_id, is_delete, create_by, create_time, update_by, update_time, remark from shop_page
    </sql>

    <select id="selectShopPageList" parameterType="ShopPage" resultMap="ShopPageResult">
        <include refid="selectShopPageVo"/>
        <where>  
            <if test="pageType != null "> and page_type = #{pageType}</if>
            <if test="pageName != null  and pageName != ''"> and page_name like concat('%', #{pageName}, '%')</if>
            <if test="pageData != null  and pageData != ''"> and page_data = #{pageData}</if>
            <if test="storeId != null "> and store_id = #{storeId}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectShopPageByPageId" parameterType="Long" resultMap="ShopPageResult">
        <include refid="selectShopPageVo"/>
        where page_id = #{pageId}
    </select>
        
    <insert id="insertShopPage" parameterType="ShopPage" useGeneratedKeys="true" keyProperty="pageId">
        insert into shop_page
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pageType != null">page_type,</if>
            <if test="pageName != null and pageName != ''">page_name,</if>
            <if test="pageData != null and pageData != ''">page_data,</if>
            <if test="storeId != null">store_id,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pageType != null">#{pageType},</if>
            <if test="pageName != null and pageName != ''">#{pageName},</if>
            <if test="pageData != null and pageData != ''">#{pageData},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateShopPage" parameterType="ShopPage">
        update shop_page
        <trim prefix="SET" suffixOverrides=",">
            <if test="pageType != null">page_type = #{pageType},</if>
            <if test="pageName != null and pageName != ''">page_name = #{pageName},</if>
            <if test="pageData != null and pageData != ''">page_data = #{pageData},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where page_id = #{pageId}
    </update>

    <delete id="deleteShopPageByPageId" parameterType="Long">
        delete from shop_page where page_id = #{pageId}
    </delete>

    <delete id="deleteShopPageByPageIds" parameterType="String">
        delete from shop_page where page_id in 
        <foreach item="pageId" collection="array" open="(" separator="," close=")">
            #{pageId}
        </foreach>
    </delete>
</mapper>